<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>
    <meta charset="UTF-8">
    <title>Yummy - Search</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/search-js.js' %}"></script>

</head>

<body>
    <div id="navbar">
        <nav class="main-nav">
            <div class="logo">Yummy</div>
            <ul class="nav-links">
                <li><a href="{% url 'cover' %}">Team</a></li>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'search' %}">Search</a></li>
                <li><a href="{% url 'favorites' %}">Favorites</a></li>
                {% if user.is_staff %}
               <li><a href="{% url 'admin_recipe' %}">Admin</a></li>
                {% endif %}
                <li><a href="{% url 'add_recipe' %}">Add Recipe</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
            </ul>
        </nav>
    </div>
    <center>
        <div class="search-page-wrapper">
            <h1>Find Your Recipe 🍲</h1>

            <!-- input واحد فقط -->
            <input type="text" id="input" placeholder="Type to search..."
                style="width:70%; padding:8px 12px; margin-bottom:15px; border-radius:6px; border:1px solid #ccc;">

            <!-- زرارين لتحديد نوع البحث -->
            <button class="btn-main" onclick="searchdata('recipe')" style="padding:8px 20px; border-radius:6px ">

                Search by Recipe Name
            </button>

            <button class="btn-main" onclick="searchdata('ingredient')" style="padding:8px 20px; border-radius:6px ">
                Search by Ingredient
            </button>

            <!-- عرض النتائج -->
            <div id="results" style="margin-top:20px;"></div>
        </div>
    </center>
    </div>
    <script>


    </script>
</body>

</html>