{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fast Food Recipes</title>

    <link rel="stylesheet" href="{% static 'css/maindish.css' %}">

    <script src="{% static 'js/maindish.js' %}" defer></script>
    <script src="{% static 'js/search-js.js' %}" defer></script>
</head>

<body>

    <div id="navbar">
        <nav class="main-nav">
            <div class="logo">Yummy 🍲</div>
            <ul class="nav-links">
                <li><a href="{% url 'cover' %}">Team</a></li>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'search' %}">Search</a></li>
                <li><a href="{% url 'favorites' %}">Favorites</a></li>
                <li><a href="{% url 'admin_recipe' %}">Admin</a></li>
                <li><a href="{% url 'add_recipe' %}">Add Recipe</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
            </ul>
        </nav>
    </div>

    <div class="banner">
        <img src="{% static 'photos/maindish/fastfood-banner.jfif' %}"
            style="width:100%; height:400px; margin-bottom:30px;">
    </div>

    <h2 class="h2">Our Fast Food Recipes</h2>

    <div class="recipes-container">

        <div class="recipe-card" id="burger" onclick="openCard(event,'burger-card')">
            <h2>Burger 🍔</h2>
            <p>Juicy beef burger with fresh toppings.</p>
            <a href="#">View Recipes</a>
        </div>

        <div class="recipe-card" id="fries" onclick="openCard(event,'fries-card')">
            <h2>French Fries 🍟</h2>
            <p>Crispy golden fries with a pinch of salt.</p>
            <a href="#">View Recipes</a>
        </div>

        <div class="recipe-card" id="pizza" onclick="openCard(event,'pizza-card')">
            <h2>Pizza 🍕</h2>
            <p>Classic pizza with tomato, cheese, and toppings.</p>
            <a href="#">View Recipes</a>
        </div>

    </div>

</body>

</html>